:root{
    --secondary:#F9AA33;
    --primary:#344955;
    --dark:#232F34;
}
.main-div{
    padding: 0.5rem 1rem;
    
}
.para{
    width: 80%;
    line-height: 25px;
    word-spacing: 2px;
}
.card{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    border: 1px solid gray;
    background-color:#FFFFFF;
    padding: 1rem;
    width: 80%;
    min-width: min-content;
}
.card-p{
    padding: 1rem;
    color: #f8f9fa;
    border: 2px solid #fff;
    width: 100%;
    max-width: 300px;
    background-color: #232F34;
    text-align: center;
    min-width:min-content;
}
.card-p>.img{
    width: 100%;
    object-fit: contain;
}
.card-w{
   
    padding: 1rem;
    color: #0c0c0c;
    border: 2px solid rgb(20, 20, 20);
    width: 100%;
    max-width: 300px;
    background-color: #eeeeee;
    min-width:min-content;
    text-align: center;
    
}
.card-w>.img{
    width: 100%;
    object-fit: contain;
}
.card-dismiss{
    position: relative;
}

.card-dismiss>.close{
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0.25rem;
    border-radius: 50%;
    background-color: #e8ebee;
    border: 1px solid black;
    color: #0c0c0c;
    right: 0;
    top: -5px;
    cursor: pointer;
}
.card-simple{
   
    padding: 1rem;
    color: #f8f9fa;
    border: 2px solid #fff;
    width: 100%;
    text-align: center;
    max-width: 300px;
    background-color: #232F34;
    min-width:min-content;
}
.card-s>.img{
    width: 100%;
    object-fit: contain;
}

button{
    align-self: center;
    padding: 0.5rem 1rem;
    border-radius: 5px ;
    background-color: #344955;
    color: #fff;
    font-weight: 700;
    border-style: hidden;
    cursor: pointer;
    outline: none;
    margin:0 15px;
    width: max-content;
}

.card-p-shadow{
    padding: 1rem;
    color: #f8f9fa;
    width: 100%;
    max-width: 300px;
    background-color: #232F34;
    text-align: center;
    min-width:min-content;
    box-shadow: 2px 4px 6px 2px #0c0c0c;    
}
.card-p-shadow>.img{
    width: 100%;
    object-fit: contain;  
}
.card-w-shadow{
    padding: 1rem;
    color: #070707;
    width: 100%;
    max-width: 300px;
    background-color: #eeeff0;
    min-width:min-content;
    box-shadow: 2px 4px 6px 2px #0c0c0c;    
}
/* Card with overlay text */
.card-text{
    border: 2px solid black;
    position: relative;
}
.card-text>p{
    padding: 0.5rem;
    position: absolute;
    color: #f7f0f0;
    top: 10px;
}
.card-text>.img{
    width: 100%;
    object-fit: contain;
}
.card-text>button{
    position: absolute;
    bottom: 80px;
    left: 0;
}

.cod{
    position: relative;
    width: 80%;
}

@media only screen and (max-width:960px){
    .card{
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        background-color:#FFFFFF;
        padding: 2rem;
        width: 80%;
        min-width: min-content;
    }
}
@media only screen and (max-width:600px){
    .card{
        width: 100%;
    }
}
