:root {
  --secondary: #f9aa33;
  --primary: #344955;
  --dark: #232f34;
}
.nav-container {
  border: 1px solid gray;
  background-color: #ffffff;
  padding: 2rem;
  width: 80%;
}
.navbar {
  display: flex;
  background-color: #232f34;
  height: fit-content;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.navbar > .left-item {
  text-align: center;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.navbar > .left-item > li {
  margin: 1rem auto;
  padding: 0.5rem;
}
.navbar > .left-item > li > a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  align-items: center;
  border: 1px solid white;
  padding: 0.5rem;
}
.navbar > .left-item > li > a:hover {
  background-color: #fff;
  color: #232f34;
}
.navbar > .right-item {
  text-align: center;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.navbar > .right-item > li {
  margin: 1rem auto;
  padding: 0.5rem;
}
.navbar > .right-item > li > span {
  text-align: center;
  text-decoration: none;
  color: #fff;
  align-items: center;
  border: 1px solid white;
  padding: 0.5rem;
  cursor: pointer;
}
.navbar > .right-item > li > span:hover {
  background-color: #fff;
  color: #232f34;
}
